@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #73fdff;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}

	/**************************************
					 header
	**************************************/
header {
	background: #05eaff;
	height: 190px;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	font-family: sans-serif;
	padding-top: 10px;
}
header h1 {
	flex-grow: 1;
	text-align: center;
	font-size: 80px;
	line-height: 140px;
}
nav {
	box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.63);
}
nav ul {
	list-style: none;
	display: flex;
}
nav ul li {
	height: 50px;
	background: #02e2ff;
	width: 100%;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	transition: .5s;
}
nav ul li:nth-child(1){
	border-right: 10px solid white;
}
nav ul li:nth-child(3){
	border-left: 10px solid white;
}
nav ul li a {
	text-decoration: none;
	display: block;
	color: white;
	font-size: 32px;
}
nav ul li:hover {
	background: #007283;
}

	/**************************************
					 table
	**************************************/
div.container {
	width: 90%;
	margin: 0 auto;
}
div.container h3 {
	text-align: center;
	font-size: 2rem;
	background: #007283;
	color: white;
	padding: 20px;
	width: 100%;
	margin-bottom: 10px;
	display: block;
	border: 10px solid #005b69;
}
table {
	display: inline-block;
	float: left;
	width: 70%;
	height: 700px;
	overflow-y: scroll;
	position: relative;
	border: 10px solid #005b69;
	margin-bottom: 50px;
}
table.filtered {
	display: table;
	min-width: 100%;
	height: 300px;
}
table thead tr th{
	background: #006777;
	color: white;
}
table thead tr th:nth-child(odd){
	background: #004d5a;
}
table th {
	padding: 15px;
}
tr {
	height: 60px;
}
tbody tr td {
	border: 1px solid white;
	padding: 15px;
	height: 50px;
}
tbody tr td:nth-child(odd){
	background: #63dde1;
}
tbody tr td:nth-child(even){
	background: #67eaef;
}
table, tr, td {
	border-collapse: collapse;
}
table button.btn_edit, table button.btn_delete {
	height: 30px;
	width: 80px;
	margin: 5px;
	outline: none;
	border-radius: 3px;
	border: none;
	outline: none;
	color: white;
	font-size: 15px;
	transition: .5s;
}
table button.btn_edit {
	background: #3399ff;
}
table button.btn_delete {
	background: red;
}
table button.btn_edit:hover {
	background: #1b5faa;
	cursor: pointer;
}
table button.btn_delete:hover {
	background: #ab0001;
	cursor: pointer;
}
	/**************************************
					 filter
	**************************************/
div.filter {
	float:right;
	width: 29%;
	display: inline-block;
	border: 10px solid #005b69;
	height: 700px;
}
div.filter h3 {
	padding: 15px;
	border: none;
	margin-bottom: 0;
}
div.filter form {
	height: 115px;
	width: 100%;
	border-bottom: 2px solid gray;
}
div.filter form button {
	margin-left: 10%;
	height: 30px;
	width: 85%;
	border: none;
	outline: none;
	border-radius: 3px;
	background: #3399ff;
	font-size: 16px;
	color: white;
	transition: .5s;
}
div.filter form button:hover {
	background: #2674d7;
	cursor: pointer;
}
div.inputs {
	margin-left: 10%;
	padding: 10px 20px 0px 0px;
}
.inputs input {
	width: 100%;
	background: transparent;
	border: 0;
	border-bottom: 1px solid white;
	padding: 5px;
	font-size: 14px;
}
.inputs label {
	font-size: 18px;
}

.radio label {
	width: 100%;
	margin-bottom: 10px;
	float:left;
}
.radio input {
	width: 20px;
}
.radio span:nth-child(4){
	margin-left: 60px;
}
.radio input{
	font-size: 20px;
}
	/**************************************
					 edit
	**************************************/
div.edit_details, div.add_details {
	float:right;
	width: 100%;
	display: inline-block;
	border: 10px solid white;
	height: 325px;
	margin-bottom: 80px;
}
section.left, section.right {
	width: 50%;
	float: left;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
section.left {
	border-right: 2px solid white;
}
section.left label, section.left input, section.right label, section.right input {
	margin-bottom: 10px;
}
.radioEdit input:nth-child(1){
	margin-right: 30px;
}
section.left input, section.right input{
	background: transparent;
	border: 0;
	border-bottom: 1px solid white;
	padding: 5px;
	font-size: 14px;
}
div.edit_details form button, button.addDetails {
	margin-left: 10%;
	height: 30px;
	width: 30%;
	border: none;
	outline: none;
	border-radius: 3px;
	background: #3399ff;
	font-size: 16px;
	color: white;
	transition: .5s;
}

div.edit_details form button:hover, button.addDetails:hover {
	background: #2674d7;
	cursor: pointer;
}
	/**************************************
					 footer
	**************************************/
	
footer {
	position: fixed;
	bottom: -5px;
	width: 100%;
}
marquee {
	height: 40px;
	color: white;
	background: black;
	line-height: 40px;
	margin-top: 10px;
	font-family: monospace;
	font-size: 20px;
}

	/**************************************
				 media queries
	**************************************/
	
@media only screen and (min-width: 768px){
	
}














